<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8>
<meta name=description content="Vasil Taneski's personal page.">
<meta name=keywords content="Vasil Taneski, Vasil, Taneski, contact, curriculum vitae, cv"> 
<meta name=google-site-verification content=FnGYRz6Bn40T1giyFM1RyTPK2b5LoJVVWMnPtdWxxlw>
<meta name=viewport content="width=device-width,user-scalable=false">
<title>Vasil Taneski {{ short_status }}</title>
<!--[if lt IE 9]>
<script src=/javascripts/html5.js></script>
<![endif]-->
<link rel=me href=http://twitter.com/#!/u240b>
<link rel=stylesheet type=text/css href=/stylesheets/general.css>
<script src=/javascripts/all.js></script>
</head>
<body>
<header>
<hgroup>
<h1>{{ long_status }}</h1>
<h2>Vasil Taneski{% if page %} &mdash; {{ page }}{% endif %}</h2>
</hgroup>
</header>
<aside id=where>
<img id=me alt=me src=/images/where.png>
<div id=speaking>
Yeap. This is <a id=cv title="Curriculum Vitae &mdash; Vasil Taneski" href=cv>me</a>.<br>
<a id=mail title="" href="">Write me.</a> Hire me.
</div>
<div id=thinking>Dare to click?</div>
</aside>
</body>
</html>
